<% provide :title, t("title.contact") %>
<h1>
  <%= t ".contact" %>
</h1>
<p>
  <%= t "static_pages.contact.s1" %>
  <%= link_to "contact page" , "https://www.railstutorial.org/#contact" %>.
</p>
